{% if settings.brands_custom_active %}
<div class="brands-custom">
    <div class="brands-custom__title section-header">
        <h2 class="title-section">{{ settings.title_brands_custom }}
    </div>
    <div class="container swiper-container">
        <div class="brands-custom__content swiper-wrapper">
            {% for i in 1..16 %}
                
                {% set link = attribute(settings, 'link_brands_custom_'~i) %}
                
                {% set image = attribute(settings, 'image_brands_custom_'~i) %}
                
                {% set title = attribute(settings, 'name_brands_custom_'~i) %}
                
                {% if title %}
                <div class="item swiper-slide">
                    <a {% if link %} href="{{ link }}" {% endif %} aria-label="{{ title }}">
                        {% if image %}
                        <div class="brands-custom__image">
                            <img loading="lazy" class="lazyload" data-src="{{ asset(image) }}" alt="{{ title }}"/>
                        </div>
                        {% else %}
                            <div class="brands-custom__name">
                                {{ title }}
                            </div>
                        {% endif %}
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="prev">
            <i class="icon icon-arrow-left"></i>
        </div>
        <div class="next">
            <i class="icon icon-arrow-right"></i>
        </div>
        <div class="dots"></div>
    </div>
</div>
{% endif %}