{% if settings.facebook_profile %}
    <a href="{{ settings.facebook_profile }}" title="Facebook" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-facebook v-align-middle"></i>
    </a>
{% endif %}

{% if settings.instagram_profile %}
    <a href="{{ settings.instagram_profile }}" title="Instagram" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-instagram v-align-middle"></i>
    </a>
{% endif %}

{% if settings.x_profile %}
    <a class="custom-svg" href="{{ settings.x_profile }}" title="X" aria-label="X" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-x v-align-middle">
            <svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 462.799" width="18" height="18" fill="currentColor"><path fill-rule="nonzero" d="M403.229 0h78.506L310.219 196.04 512 462.799H354.002L230.261 301.007 88.669 462.799h-78.56l183.455-209.683L0 0h161.999l111.856 147.88L403.229 0zm-27.556 415.805h43.505L138.363 44.527h-46.68l283.99 371.278z"/></svg>
        </i>
    </a>
{% endif %}

{% if settings.youtube_profile %}
    <a href="{{ settings.youtube_profile }}" title="Youtube" aria-label="Youtube" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-youtube v-align-middle"></i>
    </a>
{% endif %}

{% if settings.pinterest_profile %}
    <a href="{{ settings.pinterest_profile }}" title="Pinterest" aria-label="Pinterest" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-pinterest v-align-middle"></i>
    </a>
{% endif %}

{% if settings.linkedin_profile %}
    <a href="{{ settings.linkedin_profile }}" title="Linkedin" aria-label="Linkedin" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-linkedin v-align-middle"></i>
    </a>
{% endif %}

{% if settings.tiktok_profile %}
    <a href="{{ settings.tiktok_profile }}" title="Tiktok" aria-label="Tiktok" target="_blank" rel="noopener noreferrer">
        <i class="icon icon-tiktok v-align-middle"></i>
    </a>
{% endif %}